* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin flex ($d, $j, $a) {

  display: ($d);
  justify-content: ($j);
  align-items: ($a);
}

@mixin border($p, $s, $c) {
  border: ($p) ($s) ($c);
}

/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/
@media all and (min-width:768px) and (max-width:1023px) {}

/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
@mixin mobile {
  @media all and (max-width:800px) {
    @content;
  }
}

@mixin pc {

  /* PC (해상도 1024px)*/
  @media all and (min-width:1024px) {
    @content;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }

}

@keyframes fadein1 {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

}

@keyframes fadein2 {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  90% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

}

@include pc {
  #root {

    width: 100vw;
    height: 100vh;
    background: url(../pic/31.gif);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    flex-direction: column;
    @include flex(flex, flex-start, flex-start);

    .con {

      margin-top: 13vh;
      margin-left: 10vw;
    }

    .text {

      width: 40vw;
      height: 20vh;
      text-align: left;
      font-family: 'Times New Roman', Times, serif;
      font-size: 2vw;
      color: #fff;
      animation: fadein 10s ease-in-out;
      @include flex(flex, flex-start, center);

    }

    .text1 {

      width: 40vw;
      height: 30vh;
      text-align: left;
      font-family: 'Times New Roman', Times, serif;
      font-size: 2vw;
      color: #fff;
      animation: fadein1 10s ease-in-out;
      @include flex(flex, flex-start, center);
    }

    .text2 {

      width: 40vw;
      height: 20vh;
      font-family: 'Times New Roman', Times, serif;
      font-size: 2vw;
      text-align: left;
      color: #fff;
      animation: fadein2 15s ease-in-out;
      cursor: pointer;
      @include flex(flex, flex-start, center);
    }
  }
}

@include mobile {
  #root {

    width: 100vw;
    height: 100vh;
    background: url(../pic/31.gif);
    background-size: cover;
    flex-direction: column;
    background-position: 55% 100%;
    background-attachment:initial;
    background-repeat: no-repeat; 
    @include flex(flex, flex-start, flex-start);

    .con {

      margin-top: 25vh;
      margin-left: 10vw;
    }

    .text {

      width: 59vw;
      height: 15vh;
      text-align: left;
      font-family: 'Times New Roman', Times, serif;
      font-size: 5vw;
      color: #fff;
      animation: fadein 10s ease-in-out;
      @include flex(flex, flex-start, center);

    }

    .text1 {

      width: 90vw;
      height: 25vh;
      text-align: left;
      font-family: 'Times New Roman', Times, serif;
      font-size: 5vw;
      white-space: pre;
      color: #fff;
      animation: fadein1 10s ease-in-out;
      @include flex(flex, flex-start, center);
    }

    .text2 {

      width: 90vw;
      height: 10vh;
      text-align: left;
      font-family: 'Times New Roman', Times, serif;
      font-size: 5vw;
      color: #fff;
      animation: fadein2 10s ease-in-out;
      @include flex(flex, flex-start, center);
    }
  }
}