@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/
/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
@-webkit-keyframes pic1 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes pic1 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#root {
  width: 100vw;
  height: 120vh;
  font-family: "Nanum Pen Script", cursive;
  display: flex;
  justify-content: center;
  align-items: center;
}
#root #pic1 {
  width: 100vw;
  height: 120vh;
  border-radius: 10px;
  background: url(../pic/jerry.gif);
  background-size: cover;
  -webkit-animation: pic1 39s;
          animation: pic1 39s;
  position: absolute;
}
#root #text {
  width: 100vw;
  height: 100vh;
  font-size: 3vw;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
#root #return {
  width: 12.5vw;
  height: 5vh;
  position: absolute;
  margin-right: -80vw;
  margin-bottom: -95vh;
  font-size: 2vw;
  color: #fff;
  -webkit-animation: pic1 39s;
          animation: pic1 39s;
  cursor: pointer;
}