@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/
/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
body::-webkit-scrollbar {
  width: 0;
  display: none;
}

@-webkit-keyframes pic1 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes pic1 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes pic2 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes pic2 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* PC (해상도 1024px)*/
@media all and (min-width: 1024px) {
  #root {
    width: 100vw;
    height: 120vh;
    font-family: 'Nanum Pen Script', cursive;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #root #pic1 {
    width: 100vw;
    height: 120vh;
    border-radius: 10px;
    background: url(../pic/jerry.gif);
    background-size: cover;
    -webkit-animation: pic1 39s;
            animation: pic1 39s;
    position: absolute;
  }
  #root #text {
    width: 100vw;
    height: 100vh;
    font-size: 3vw;
    color: #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #root #return {
    width: 12.5vw;
    height: 5vh;
    position: absolute;
    margin-right: -80vw;
    margin-bottom: -95vh;
    font-size: 2vw;
    color: #fff;
    -webkit-animation: pic1 39s;
            animation: pic1 39s;
    cursor: pointer;
  }
}

@media all and (max-width: 800px) {
  #root {
    width: 100vw;
    height: 100vh;
    font-family: 'Nanum Pen Script', cursive;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #root #pic1 {
    width: 100vw;
    height: 100vh;
    background: url(../pic/jerry.gif);
    background-size: cover;
    background-position: -77vw center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    -webkit-animation: pic1 39s;
            animation: pic1 39s;
    position: absolute;
  }
  #root #text {
    width: 100vw;
    height: 100vh;
    font-size: 6vw;
    margin: 5vw;
    color: #000;
    -webkit-animation: pic2 39s;
            animation: pic2 39s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #root #return {
    width: 25vw;
    height: 5vh;
    position: absolute;
    font-size: 4vw;
    color: #fff;
    margin-right: -60vw;
    margin-bottom: -85vh;
    -webkit-animation: pic1 39s;
            animation: pic1 39s;
  }
}
