@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/
/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadein1 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadein1 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadein2 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadein2 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* PC (해상도 1024px)*/
@media all and (min-width: 1024px) {
  #root {
    width: 100vw;
    height: 100vh;
    background: url(../pic/31.gif);
    background-size: cover;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  #root .con {
    margin-top: 13vh;
    margin-left: 10vw;
  }
  #root .text {
    width: 40vw;
    height: 20vh;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2vw;
    color: #fff;
    -webkit-animation: fadein 10s ease-in-out;
            animation: fadein 10s ease-in-out;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #root .text1 {
    width: 40vw;
    height: 30vh;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2vw;
    color: #fff;
    -webkit-animation: fadein1 10s ease-in-out;
            animation: fadein1 10s ease-in-out;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #root .text2 {
    width: 40vw;
    height: 20vh;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2vw;
    text-align: left;
    color: #fff;
    -webkit-animation: fadein2 15s ease-in-out;
            animation: fadein2 15s ease-in-out;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media all and (max-width: 800px) {
  #root {
    width: 100vw;
    height: 100vh;
    background: url(../pic/31.gif);
    background-size: cover;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-position: 55% 100%;
    background-attachment: initial;
    background-repeat: no-repeat;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  #root .con {
    margin-top: 13vh;
    margin-left: 10vw;
  }
  #root .text {
    width: 59vw;
    height: 25vh;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    font-size: 5vw;
    color: #fff;
    -webkit-animation: fadein 10s ease-in-out;
            animation: fadein 10s ease-in-out;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #root .text1 {
    width: 90vw;
    height: 35vh;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    font-size: 5vw;
    white-space: pre;
    color: #fff;
    -webkit-animation: fadein1 10s ease-in-out;
            animation: fadein1 10s ease-in-out;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #root .text2 {
    width: 90vw;
    height: 10vh;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    font-size: 5vw;
    color: #fff;
    -webkit-animation: fadein2 10s ease-in-out;
            animation: fadein2 10s ease-in-out;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
