* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin flex ($d, $j, $a) {

  display: ($d);
  justify-content: ($j);
  align-items: ($a);
}

@mixin border {
  border: 1px solid black;
}

/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/
@media all and (min-width:768px) and (max-width:1023px) {}

/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
@mixin mobile {
  @media all and (max-width:800px) {
    @content;
  }
}

@mixin pc {

  /* PC (해상도 1024px)*/
  @media all and (min-width:1024px) {
    @content;
  }
}

@keyframes img {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fade {

  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }


}

// --------------------------------------------------------

@include pc {
  #root {

    width: 100vw;
    height: 100vh;
    background-color: #000;
    @include border;
    @include flex(flex, center, center);


    .img {

      width: 35.4vw;
      height: 70.2vh;
      background: url(../pic/moonsolo.png);
      background-size: cover;
      background-repeat: no-repeat;
      animation: img 300s linear infinite;
      transform-origin: 50% 50%;
      @include border;
      @include flex(flex, center, center);

    }

    .img>h1 {
      width: 100%;
      height: 8vw;
      font-size: 1px;
      color: rgba(0, 0, 0, 0);
      font-family: 'Times New Roman', Times, serif;

    }

    .img>h1:hover {
      font-size: 4vw;
      text-align: center;
      cursor: pointer;
      color: rgba(43, 43, 43, 0.8);
      transition: 4s;
      -webkit-text-stroke: 1px rgba(184, 184, 184, 0.6);

    }
  }
}

//----------------------------------------------------

@include mobile {
  #root {

    width: 100vw;
    height: 100vh;
    background-color: #000;
    @include border;
    @include flex(flex, center, center);


    .img {

      width: 78vw;
      height: 40vh;
      background: url(../pic/moonsolo.png);
      background-size: cover;
      background-position: center center;
      background-attachment: fixed;
      background-repeat: no-repeat;
      animation: img 300s linear infinite;
      transform-origin: 50% 50%;
      @include border;
      @include flex(flex, center, center);

    }

    .img>h1 {
      width: 80vw;
      height: 8vh;
      font-size: 9.5vw;
      color: rgba(50,50,50);
      font-family: 'Times New Roman', Times, serif;
      animation: fade 5s;
      text-align: center;
      -webkit-text-stroke: 1px rgba(184, 184, 184, 0.6);


    }
  }
}