@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/
/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
body::-webkit-scrollbar {
  width: 0;
  display: none;
}

/* PC (해상도 1024px)*/
@media all and (min-width: 1024px) {
  #root {
    width: 100vw;
    height: 100vh;
    background-color: #000;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #root > div {
    width: 30%;
    height: 80%;
    flex-direction: column;
    border: 5px solid rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #root .cir {
    width: 47%;
    height: 35%;
    margin-top: -30px;
    border-radius: 30vw;
    background: url(../pic/profile.jpg);
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #root .text {
    width: 30vw;
    height: 50vh;
    font-size: 3vw;
    color: rgb(0, 0, 0);
    margin-bottom: -100px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #root .text1 {
    font-size: 2vw;
  }
  #root .text2 {
    font-size: 2vw;
  }
  #root .cir:hover {
    transition: 5s;
  }
  #root .hover:hover {
    background-color: rgb(0, 0, 0);
    transition: 5s;
    border: 5px solid rgb(75, 75, 75);
  }
  #root .text:hover {
    transition: 5s;
    color: #fff;
  }
  #root .text1:hover {
    transition: 5s;
    color: #000;
  }
  #root .text2:hover {
    transition: 5s;
    color: #000;
  }
}
@media all and (max-width: 800px) {
  #root {
    width: 100vw;
    height: 100vh;
    background-color: #000;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #root > div {
    width: 80vw;
    height: 80vh;
    flex-direction: column;
    border: 5px solid rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #root .cir {
    width: 79%;
    height: 40%;
    border-radius: 30vw;
    background: url(../pic/profile.jpg);
    background-size: contain;
    margin-bottom: -8vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #root .text {
    width: 100vw;
    height: 50vh;
    font-size: 7vw;
    color: #fff;
    margin-bottom: -4vh;
    -webkit-animation: fade 10s;
            animation: fade 10s;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #root .text1 {
    font-size: 5vw;
  }
  #root .text2 {
    font-size: 5vw;
  }
}