* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin flex ($d, $j, $a) {

  display: ($d);
  justify-content: ($j);
  align-items: ($a);
}

@mixin border {
  border: 1px solid black;
}

#root {

  width: 100vw;
  height: 100vh;
  flex-direction: column;
  background-color: #000;

  @include border;
  @include flex(flex,center,center);

  .text{
    width: 23vw;
    height: 7vw;
    margin-right: -27vw;
    @include border;
  }
  .text>h1 {

    font-size: 100px;
    color: #fff;
  }

  .box{

    width: 50vw;
    height: 35vw;
    border: 5px solid #fff;
    margin: 10px;
    @include flex(flex,center,center);

  }

  .box>h1 {

    font-size: 50px;
    color: #fff;
  }
}