* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin flex ($d, $j, $a) {

  display: ($d);
  justify-content: ($j);
  align-items: ($a);
}

@mixin border {
  border: 1px solid black;
}

#root {

  width: 100vw;
  height: 100vh;
  background-color: #000;
  @include border;
  @include flex(flex,center,center);


  & > div {

    width: 80vw;
    height: 100vh;
    background: url(../pic/moonsolo.png);
    background-size: cover;
    @include border;
    @include flex(flex,center,center);

  }

  &>div>h1 {
    width: 100vw;
    height: 50vh;
    font-size: 1px;
    color: rgba(255, 255, 255, 0);
    font-family: Impact, 
    Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    @include flex(flex,center,center);
    
  }

  &>div>h1:hover {
    font-size: 220px;
    text-align: center;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.8);
    transition: 4s;
    -webkit-text-stroke: 1px rgba(184, 184, 184,0.6);
    
  }

  }