@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/
/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* PC (해상도 1024px)*/
@media all and (min-width: 1024px) {
  #root {
    width: 100vw;
    height: 100vh;
    background-color: #ECE93B;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #root > div {
    width: 20vw;
    height: 10vh;
    color: #000;
    background-color: #ECE93B;
    font-family: "Permanent Marker", cursive;
    font-size: 3vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #root > div:hover {
    width: 50vw;
    height: 10vh;
    font-size: 7vw;
    transition: 0.5s;
  }
}
@media all and (max-width: 800px) {
  #root {
    width: 100vw;
    height: 100vh;
    background-color: #ECE93B;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #root > div {
    width: 100vw;
    height: 10vh;
    color: #000;
    background-color: #ECE93B;
    font-family: "Permanent Marker", cursive;
    font-size: 13vw;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}