* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin flex ($d, $j, $a) {

  display: ($d);
  justify-content: ($j);
  align-items: ($a);
}

@mixin border {
  border: 1px solid black;
}

@keyframes pic1 {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;

  }

  100% {
    opacity: 1;

  }
}

#root {

  width: 100vw;
  height: 120vh;
  font-family: 'Nanum Pen Script', cursive;

  @include flex(flex, center, center);

  #pic1 {

    width: 100vw;
    height: 120vh;
    border-radius: 10px;
    background: url(../pic/jerry.gif);
    background-size: cover;
    animation: pic1 39s;
    position: absolute;
  }

  #text {
    width: 100vw;
    height: 100vh;
    font-size: 3vw;
    color: #000;
    @include flex(flex, center, center);
  }

  #return {

    width: 12.5vw;
    height: 5vh;
    position: absolute;
    margin-right: -80vw;
    margin-bottom: -95vh;
    font-size: 2vw;
    color: #fff;
    cursor: pointer;
  }
}