@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* PC (해상도 1024px)*/
/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/
/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#root {
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#root > div {
  width: 100vw;
  height: 100vh;
  font-size: 1%;
  -webkit-transition: 7s;
  transition: 7s;
  color: #000;
  font-family: 'Song Myung', serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#root > div:hover {
  color: #fff;
  font-size: 500%;
}
