* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin flex ($d, $j, $a) {

  display: ($d);
  justify-content: ($j);
  align-items: ($a);
}

@mixin border {
  border: 1px solid black;
}

/* PC (해상도 1024px)*/ 
@media all and (min-width:1024px) {
} 

/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/ 
@media all and (min-width:768px) and (max-width:1023px) {
} 

/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/ 
@media all and (max-width:767px) {
}

// --------------------------------------------------------

#root {

  width: 100vw;
  height: 100vh;
  background-color: #000;
  @include border;
  @include flex(flex,center,center);


  & > div {

    width: 50%;
    height: 50vw;
    background: url(../pic/moonsolo.png);
    background-size: cover;
    background-repeat: no-repeat;
    @include border;
    @include flex(flex,center,center);

  }

  &>div>h1 {
    width: 100%;
    height: 50vh;
    font-size: 1px;
    color: rgba(0, 0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
    
  }

  &>div>h1:hover {
    font-size: 6.5vw;
    text-align: center;
    cursor: pointer;
    color: rgba(43, 43, 43, 0.8);
    transition: 4s;
    -webkit-text-stroke: 1px rgba(184, 184, 184,0.6);
    
  }

  }