@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* 모바일 가로, 모바일 세로 (해상도 480px, 767px)*/
@media all and (max-width: 767px) {
  #root {
    width: 767px;
    height: 480px;
    background-color: #000;
    border: 1px solid black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  > div {
    width: 480px;
    height: 300px;
    background: url(../pic/moonsolo.png);
    border: 1px solid black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  > div > h1 {
    width: 100vw;
    height: 50vh;
    font-size: 1px;
    color: rgba(255, 255, 255, 0);
    font-family: Impact,  Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

#root {
  width: 100vw;
  height: 100vh;
  background-color: #000;
  border: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#root > div {
  width: 50%;
  height: 50vw;
  background: url(../pic/moonsolo.png);
  background-size: cover;
  border: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#root > div > h1 {
  width: 100%;
  height: 50vh;
  font-size: 1px;
  color: rgba(255, 255, 255, 0);
  font-family: Impact,  Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#root > div > h1:hover {
  font-size: 6vw;
  text-align: center;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
  -webkit-transition: 4s;
  transition: 4s;
  -webkit-text-stroke: 1px rgba(184, 184, 184, 0.6);
}
