@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* PC (해상도 1024px)*/
/* 태블릿 가로, 태블릿 세로 (해상도 768px, 1023px)*/
/* 모바일 가로, 모바일 세로 (해상도 480px, 767px)*/
@-webkit-keyframes fadein {
  from {
    opacity: 0;
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  to {
    opacity: 3;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  to {
    opacity: 3;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#root {
  width: 100vw;
  height: 100vh;
  background: url(../pic/31.gif);
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#root > div {
  width: 50vw;
  height: 80vh;
  font-family: 'Times New Roman', Times, serif;
  font-size: 50px;
  color: #fff;
  margin-left: -600px;
  -webkit-animation: fadein 8s ease-in-out;
          animation: fadein 8s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
