* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin flex ($d, $j, $a) {

  display: ($d);
  justify-content: ($j);
  align-items: ($a);
}

@mixin border {
  border: 1px solid black;
}

// /* PC (해상도 1024px)*/ 
// @media all and (min-width:1024px) {
//   #root {

//     width: 100vw;
//     height: 100vh;
//     background-color: #000;
//     @include border;
//     @include flex(flex,center,center);
//   }
// } 

// /* 태블릿 가로, 태블릿 세로 (해상도 768px, 1023px)*/ 
// @media all and (min-width:768px) and (max-width:1023px) {
//   #root {

//     width: 1023px;
//     height: 768px;
//     background-color: #000;
//     @include border;
//     @include flex(flex,center,center);
//   }
// } 

/* 모바일 가로, 모바일 세로 (해상도 480px, 767px)*/ 
@media all and (max-width:767px) {
  #root {

    width: 767px;
    height: 480px;
    background-color: #000;
    @include border;
    @include flex(flex,center,center);
  }
  & > div {

    width: 480px;
    height: 300px;
    background: url(../pic/moonsolo.png);
    @include border;
    @include flex(flex,center,center);

  }

  &>div>h1 {
    width: 100vw;
    height: 50vh;
    font-size: 1px;
    color: rgba(255, 255, 255, 0);
    font-family: Impact, 
    Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    @include flex(flex,center,center);
  }
}

// --------------------------------------------------------

#root {

  width: 100vw;
  height: 100vh;
  background-color: #000;
  @include border;
  @include flex(flex,center,center);

  & > div {

    width: 50%;
    height: 50vw;
    background: url(../pic/moonsolo.png);
    background-size: cover;
    @include border;
    @include flex(flex,center,center);

  }

  &>div>h1 {
    width: 100%;
    height: 50vh;
    font-size: 1px;
    color: rgba(255, 255, 255, 0);
    font-family: Impact, 
    Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    @include flex(flex,center,center);
    
  }

  &>div>h1:hover {
    font-size: 6vw;
    text-align: center;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.8);
    transition: 4s;
    -webkit-text-stroke: 1px rgba(184, 184, 184,0.6);
    
  }

  }