@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* PC (해상도 1024px)*/
/* 태블릿 가로, 태블릿 세로 (해상도 768px, 1023px)*/
/* 모바일 가로, 모바일 세로 (해상도 480px, 767px)*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#root {
  width: 100vw;
  height: 100vh;
  background-color: #ECE93B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#root > button {
  width: 20vw;
  height: 10vh;
  color: #000;
  border: 1px solid #000;
  background-color: #ECE93B;
  font-family: 'Permanent Marker', cursive;
  font-size: 3vw;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#root > button:hover {
  color: #fff;
  -webkit-transition: 1s;
  transition: 1s;
}
