* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#root {
  width: 100vw;
  height: 100vh;
  background-color: #000;
  border: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#root > div {
  width: 80vw;
  height: 100vh;
  background: url(../pic/moonsolo.png);
  background-size: cover;
  border: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#root > div > h1 {
  width: 100vw;
  height: 50vh;
  font-size: 1px;
  color: rgba(255, 255, 255, 0);
  font-family: Impact,  Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#root > div > h1:hover {
  font-size: 250px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
  -webkit-transition: 4s;
  transition: 4s;
  -webkit-text-stroke: 1px rgba(184, 184, 184, 0.5);
}
