* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin flex ($d, $j, $a) {

  display: ($d);
  justify-content: ($j);
  align-items: ($a);
}

@mixin border {
  border: 1px solid black;
}

#root {

  width: 100vw;
  height: 1000vh;
  @include flex(flex,center,center);


  & > div {

    width: 100vw;
    height: 1000vh;
    background: url(./moon.png);
    background-color: transparent;
    background-size: cover;
    @include border;
  }
  }