* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin flex ($d, $j, $a) {

  display: ($d);
  justify-content: ($j);
  align-items: ($a);
}

@mixin border {
  border: 1px solid black;
}

/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/
@media all and (min-width:768px) and (max-width:1023px) {}

/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
@mixin mobile {
  @media all and (max-width:800px) {
    @content;
  }
}

@mixin pc {

  /* PC (해상도 1024px)*/
  @media all and (min-width:1024px) {
    @content;
  }
}

@keyframes img {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fadein {

  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeout {

  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

// --------------------------------------------------------

@include pc {

  //My portfolio

  body::-webkit-scrollbar {

    width: 0;
    display: none;
  }

  #root {

    width: 100vw;
    height: 700vh;
    background-color: #000;
    background: url(../pic/star.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    flex-direction: column;
    @include border;
    @include flex(flex, center, center);


    .img {

      width: 40vw;
      height: 80vh;
      background: url(../pic/moonsolo.png);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
      background-attachment: fixed;
      animation: img 300s linear infinite;
      transform-origin: 50% 50%;
      margin-top: -600vh;
      @include flex(flex, center, center);

    }

    .pp {
      width: 100%;
      height: 8vw;
      font-size: 1px;
      color: rgba(0, 0, 0, 0);
      font-family: 'Times New Roman', Times, serif;
      margin-top: -600vh;
      position: absolute;
      @include flex(flex, center, center);

    }

    .pp:hover {
      font-size: 5vw;
      text-align: center;
      cursor: pointer;
      color: rgba(43, 43, 43, 0.8);
      transition: 4s;
      -webkit-text-stroke: 1px rgba(184, 184, 184, 0.6);
      @include flex(flex, center, center);

    }

    //---------------------------------------------------------


    // Name

    .img-1 {

      width: 30vw;
      height: 75vh;
      background: url(../pic/moonsolo.png);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
      background-attachment: fixed;
      animation: img 300s linear infinite;
      transform-origin: 50% 50%;
      position: absolute;
      margin-top: -350vh;
      @include flex(flex, center, center);

    }

    .name {
      width: 100%;
      height: 8vw;
      font-size: 1px;
      color: rgba(0, 0, 0, 0);
      font-family: 'Times New Roman', Times, serif;
      position: absolute;
      margin-top: -350vh;
      @include flex(flex, center, center);

    }

    .name:hover {
      font-size: 3.5vw;
      text-align: center;
      cursor: pointer;
      color: rgba(43, 43, 43, 0.8);
      transition: 4s;
      -webkit-text-stroke: 1px rgba(184, 184, 184, 0.6);
      @include flex(flex, center, center);

    }

    //---------------------------------------------------------

    // Profile

    .box {

      width: 30%;
      height: 80%;
      flex-direction: column;
      border: 5px solid rgb(255, 255, 255);
      position: absolute;
      margin-top: -100vh;
      @include flex(flex, center, center);
    }

    .cir {

      width: 47%;
      height: 35%;
      margin-top: -30px;
      border-radius: 30vw;
      background: url(../pic/profile.jpg);
      background-size: contain;
      @include flex(flex, center, center);
    }

    .text {

      width: 30vw;
      height: 50vh;
      font-size: 3vw;
      color: #fff;
      margin-bottom: -100px;
      flex-direction: column;
      @include flex(flex, center, center);
    }

    .text1 {

      font-size: 2vw;
      color: #fff;
    }

    .text2 {

      font-size: 2vw;
      color: #fff;
    }

    .box:hover {

      transition: 1s;
      border: 5px solid #fff;
      cursor: pointer;
      filter: blur(0px);
    }

    //---------------------------------------------------------

    // Education

    .edu {
      width: 23vw;
      height: 7vw;
      margin-left: -53vw;
      margin-bottom: -50vh;
      position: absolute;

    }

    .edu>h1 {

      font-size: 5vw;
      color: #fff;
    }

    .school {

      width: 75vw;
      height: 30vw;
      border: 5px solid #fff;
      margin: 10px;
      color: #fff;
      @include flex(flex, center, center);
    }

    .school>h1 {

      font-size: 2vw;
    }

    .edu:hover {

      transition: 1s;
      cursor: pointer;
      filter: blur(0px);
    }

    //---------------------------------------------------------

    // Certificate

    .cer {
      width: 23vw;
      height: 7vw;
      margin-left: -53vw;
      margin-bottom: -300vh;
      position: absolute;
    }

    .cer>h1 {

      font-size: 5vw;
      color: #fff;
      right: -51.5vw;
      position: relative;
    }

    .lin {

      width: 75vw;
      height: 30vw;
      border: 5px solid #fff;
      color: #fff;
      margin: 10px;
      @include flex(flex, center, center);

    }

    .lin>h1 {

      font-size: 2vw;
    }

    .cer:hover {

      transition: 1s;
      cursor: pointer;
      filter: blur(0px);

    }

    //---------------------------------------------------------

    // Project-1


    .set {

      width: 80vw;
      height: 80vh;
      border: 1px solid white;
      position: absolute;
      margin-bottom: -600vh;
      @include flex(flex, center, flex-start);


    }
    .project-1 {

      width: 20vw;
      height: 10vh;
      background-color: #000;
      color: #fff;
      font-size: 3vw;
      font-family: 'Times New Roman', Times, serif;
      border-radius: 30px;
      cursor: pointer;

    }
  }
}