@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/
/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
@-webkit-keyframes img {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes img {
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeout {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeout {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* PC (해상도 1024px)*/
@media all and (min-width: 1024px) {
  body::-webkit-scrollbar {
    width: 0;
    display: none;
  }
  #root {
    width: 100vw;
    height: 850vh;
    background-color: #000;
    background: url(../pic/star.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    flex-direction: column;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #root .secone {
    width: 40vw;
    height: 80vh;
    background: url(../pic/moonsolo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-animation: img 300s linear infinite;
            animation: img 300s linear infinite;
    transform-origin: 50% 50%;
    margin-top: -750vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #root .pp {
    width: 100%;
    height: 8vw;
    font-size: 1px;
    color: rgba(0, 0, 0, 0);
    font-family: "Times New Roman", Times, serif;
    position: absolute;
    margin-top: -750vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #root .pp:hover {
    font-size: 5vw;
    text-align: center;
    cursor: pointer;
    color: rgba(43, 43, 43, 0.8);
    transition: 4s;
    -webkit-text-stroke: 1px rgba(184, 184, 184, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #root .sectwo {
    width: 30vw;
    height: 75vh;
    background: url(../pic/moonsolo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-animation: img 300s linear infinite;
            animation: img 300s linear infinite;
    transform-origin: 50% 50%;
    position: absolute;
    margin-top: -550vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #root .name {
    width: 100%;
    height: 8vw;
    font-size: 1px;
    color: rgba(0, 0, 0, 0);
    font-family: "Times New Roman", Times, serif;
    position: absolute;
    margin-top: -550vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #root .name:hover {
    font-size: 3.5vw;
    text-align: center;
    cursor: pointer;
    color: rgba(43, 43, 43, 0.8);
    transition: 4s;
    -webkit-text-stroke: 1px rgba(184, 184, 184, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #root .secthree {
    width: 30%;
    height: 80%;
    flex-direction: column;
    border: 5px solid rgb(255, 255, 255);
    position: absolute;
    margin-top: -350vh;
    filter: blur(1000px);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #root .cir {
    width: 47%;
    height: 35%;
    margin-top: -30px;
    border-radius: 30vw;
    background: url(../pic/profile.jpg);
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #root .text {
    width: 30vw;
    height: 50vh;
    font-size: 3vw;
    color: #fff;
    margin-bottom: -100px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #root .text1 {
    font-size: 2vw;
    color: #fff;
  }
  #root .text2 {
    font-size: 2vw;
    color: #fff;
  }
  #root .secthree:hover {
    transition: 0.5s;
    border: 5px solid #fff;
    cursor: pointer;
    filter: blur(0px);
  }
  #root .secfour {
    width: 23vw;
    height: 7vw;
    margin-left: -53vw;
    margin-top: -250vh;
    position: absolute;
    filter: blur(1000px);
  }
  #root .secfour > h1 {
    font-size: 5vw;
    color: #fff;
  }
  #root .school {
    width: 75vw;
    height: 30vw;
    border: 5px solid #fff;
    margin: 10px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #root .school > h1 {
    font-size: 2vw;
  }
  #root .secfour:hover {
    transition: 0.5s;
    cursor: pointer;
    filter: blur(0px);
  }
  #root .secfive {
    width: 23vw;
    height: 7vw;
    margin-left: -53vw;
    margin-top: -100vh;
    position: absolute;
    filter: blur(1000px);
  }
  #root .secfive > h1 {
    font-size: 5vw;
    color: #fff;
    right: -51.5vw;
    position: relative;
  }
  #root .lin {
    width: 75vw;
    height: 30vw;
    border: 5px solid #fff;
    color: #fff;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #root .lin > h1 {
    font-size: 2vw;
  }
  #root .secfive:hover {
    transition: 0.5s;
    cursor: pointer;
    filter: blur(0px);
  }
  #root .secsix {
    width: 80vw;
    height: 80vh;
    border: 1px solid white;
    position: absolute;
    margin-bottom: -250vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  #root .project-1 {
    width: 20vw;
    height: 10vh;
    background-color: #000;
    color: #fff;
    font-size: 3vw;
    font-family: "Times New Roman", Times, serif;
    border-radius: 30px;
    cursor: pointer;
  }
  #root .secseven {
    width: 80vw;
    height: 80vh;
    border: 1px solid white;
    position: absolute;
    margin-bottom: -450vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  #root .project-2 {
    width: 20vw;
    height: 10vh;
    background-color: #000;
    color: #fff;
    font-size: 3vw;
    font-family: "Times New Roman", Times, serif;
    border-radius: 30px;
    cursor: pointer;
  }
  #root .seceight {
    width: 80vw;
    height: 80vh;
    border: 1px solid white;
    position: absolute;
    margin-bottom: -650vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  #root .project-3 {
    width: 20vw;
    height: 10vh;
    background-color: #000;
    color: #fff;
    font-size: 3vw;
    font-family: "Times New Roman", Times, serif;
    border-radius: 30px;
    cursor: pointer;
  }
}