* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin flex ($d, $j, $a) {

  display: ($d);
  justify-content: ($j);
  align-items: ($a);
}

@mixin border {
  border: 1px solid black;
}

@media all and (min-width:480px) and (max-width:900px) {}

#root {

  width: 100vw;
  height: 100vh;
  background-image: url(../image/123.jpg);
  flex-direction: column;

  @include flex(flex, center, center);

  #con {

    width: 80vw;
    height: 50vh;
    @include flex(flex, center, center);

  }

  #con1 {

    width: 80vw;
    height: 80vh;
    @include flex(flex, center, center);

  }

  .video {

    width: 100%;
    max-width: 500px;
    height: auto;
    position: relative;
    @include flex(flex, center, center);

  }

  .video1 {

    width: 100%;
    max-width: 500px;
    height: auto;
    position: relative;
    @include flex(flex, center, center);

  }

  button {
    width: 170px;
    height: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2rem;
    border: none;
    border-radius: 50px;
    margin: 30px;
    background-color: rgba(151, 144, 144, 0.5);
    @include flex(flex, center, center);

  }

  button:hover {

    cursor: pointer;
    transition: 1s;
    background-color: rgb(172, 172, 172);

  }


}