*{margin: 0; padding: 0; box-sizing: border-box;}

@mixin flex ($d, $j, $a){

  display: ($d);
  justify-content: ($j);
  align-items: ($a);
  }
  
@mixin border {
  border: 1px solid black;
  }

  #root {
    width: 100vw;
    height: 100vh;
    background-color: black;
    @include flex(flex,center,center);
    
    
    
    & > div {

      width: 100vw;
      height: 100vh;
      color: #000;
      transition: 3s;
      font-size: 90px;
      font-family: 'Song Myung', serif;
      @include flex(flex,center,center);

      
    }

    & > div:hover {
      color: #fff;
      font-size: 500%;
    }

  }