
*{margin: 0; padding: 0; box-sizing: border-box;}

@mixin flex ($d, $j, $a){

  display: ($d);
  justify-content: ($j);
  align-items: ($a);
  }

 @mixin border {
    border: 1px solid black;
    }

    #root {

      width: 100vw;
      height: 110vh;
      background: url(../image/stars.jpg);
      background-size: cover;
      @include border;

      #text {
        width: 100vw;
        height: 110vh;
        font-size: 30px;
        text-align: left;
        font-family: 'Times New Roman', Times, serif;
        color: rgb(255, 255, 255);
        @include flex(flex,center,center);
      }
    }