
  *{margin: 0; padding: 0; box-sizing: border-box;}
  
  @mixin flex ($d, $j, $a){
  
    display: ($d);
    justify-content: ($j);
    align-items: ($a);
    }
    
  @mixin border {
    border: 1px solid black;
    }
    @keyframes fadein {
      0% {
        opacity: 0;
      }

      50% {
        opacity: 1;
      }

      100% {
        opacity: 0;
      }

    }
  
    #root {
  
      width: 100vw;
      height: 100vh;
      background-image: url(../image/jang.jpg);
      background-size: cover;
      @include flex(flex,center,center);
  
    }
    
  
    #text {
      width: 50vw;
      height: 100vh;
      font-size: 30px;
      text-align: left;
      font-family: 'Times New Roman', Times, serif;
      color: rgb(255, 255, 255);
      margin: 30px;
      @include flex(flex,center,center);
    }
  
      #text1 { 
    
        width: 50vw;
        height: 100vh;
        font-size: 30px;
        text-align: left;
        animation: fadein 50s;
        animation-direction: alternate;
        animation-iteration-count: infinite;
        font-family: 'Times New Roman', Times, serif;
        color: rgb(255, 255, 255);
        @include flex(flex,center,center);
      }

      #text1:hover {
        animation-play-state:paused;

      }


  
  
