
*{margin: 0; padding: 0; box-sizing: border-box;}

@mixin flex ($d, $j, $a){

  display: ($d);
  justify-content: ($j);
  align-items: ($a);
  }
  
@mixin border {
  border: 1px solid black;
  }
  
  @media all and (min-width:480px) and (max-width:800px) {

  }

  @keyframes fadein {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {

      opacity: 0;
    }
  }

  #root {

    width: 100vw;
    height: 100vh;
    background-image:url(../image/흑백.jpg);
    @include flex(flex,center,center);

    & > div {
    width: 100vw;
    height: 100vh;
    color: rgb(243, 234, 234);
    backdrop-filter: blur(3px);
    @include flex(flex,center,center);

    }

    .box{
    font-size: 1.6vw;
    writing-mode: vertical-rl;
    text-orientation:upright;
    text-align: center;
    font-weight: bold;
    font-family:'Times New Roman', Times, serif;
    margin: 10px;

    animation: fadein 27s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    @include flex(flex,center,center);

    }

  }
  