* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#root {
  width: 100vw;
  height: 100vh;
  background-color: #000;
  border: 1px solid black;
}

#root #text {
  width: 100vw;
  height: 100vh;
  font-size: 1%;
  -webkit-transition: 10s;
  transition: 10s;
  font-family: 'Times New Roman', Times, serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#root #text:hover {
  color: rgba(255, 255, 255, 0.3);
  font-size: 250px;
}
