
*{margin: 0; padding: 0; box-sizing: border-box;}

@mixin flex ($d, $j, $a){

  display: ($d);
  justify-content: ($j);
  align-items: ($a);
  }

 @mixin border {
    border: 1px solid black;
    }

    #root {

      width: 100vw;
      height: 100vh;
      background-color: #000;
      @include border;

      #text {
        width: 100vw;
        height: 100vh;
        font-size: 1%;
        transition: 10s;
        font-family: 'Times New Roman', Times, serif;
        @include flex(flex,center,center);
      }
      
      #text:hover{
        
        color: rgba(255, 255, 255, 0.3);
        font-size: 250px;

      }
    }