*{margin: 0; padding: 0;}

:root {

--color-2: rgb(66, 66, 66);  
}

body {
  background-color:rgb(49,49,49);

}


*{margin: 0; padding: 0;}


#con {

  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  
}

/* --------------------------------------------------------- */

    /*  사이드 바  */

#con > div:nth-child(1) {
  
  width: 10vw;
  height: 100vh;
  background-color: rgb(49,49,49);
  position: fixed;
  margin-left: -160px;
  transition: 0.5s;

}

#con > div:nth-child(1):hover {
  margin-left: 0px;
}

#con > div:nth-child(1):hover:before {  
  transition: 0.5s;
  position:absolute;

}

#con > div:nth-child(1) > ul > li {

  color: white; 
  list-style: none;
  line-height: 5vw;
  text-align: center;
  font-weight: bolder;
  font-size: 20px;
}

#con > div:nth-child(1) > ul > li:hover {
  color: rgb(179, 179, 179);
  cursor: pointer;
  transition: 0.5s;
}

/* ---------------------------------------------------- */
            /* 메인 세부화면 */

.lay {

  width: 100vw;
  height: 100vh;
}            

.lay > section {

  width: 100vw;
  height: 100vh;
  margin: 10px;
  margin-left: 2vw;
  background-color:var(--color-2);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align:center;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.lay > section:nth-child(1) {
  width: 100vw;
  height: 90vh;

  background: url(https://mblogthumb-phinf.pstatic.net/MjAxOTA2MjRfMTQw/MDAxNTYxMzc5OTM0NDg4.342-LIBLB_SbZziMsbAnY1KYbQk3246aK8LjR-6ODzog.aNA2pEHoQCxe1HNXK9Ly0plLnq2qjHeH3RUaXPNJ2gwg.JPEG.sizzips/%EC%A6%9B%ED%86%A0%EB%A7%88%EC%9A%94.jpg?type=w800);

  background-size:cover;
} 

.lay > section:nth-child(1):hover {

  cursor: pointer;
}


.lay > section:nth-child(2) {
  width: 100vw;
  height: 30vh;
  color:#fff;
  display: flex;
  justify-content: center;
  align-items: center;

}

/* ----------------------------------------------------- */

               /* 가수 정보 */

.lay > section:nth-child(3) {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.lay > section:nth-child(3) > div {
  
  width: 20vw;
  height: 40vh;

  background-color:var(--color-3);
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  
  margin: 20px;  
  
}
.lay > section:nth-child(3) > div:hover { 

  cursor: pointer;
  transition: 0.5s;
  transform: translate(3px, 3px);
  }

.lay > section:nth-child(3) > div:nth-child(1) {

  background: url(https://www.waratomo.com/shop/upfiles/psimg_UPCH20497.jpg);

  background-size: cover;

}

.lay > section:nth-child(3) > div:nth-child(2) {

  background: url(https://ww.namu.la/s/e9f065d9d91b2efe8dd32492c3cf817c2829d2e2f58cc4817cfb7b5cb2cf9685a45e44c68bff98b8df33d2e7418100247dd050f60241559803bc6586a639c87934700b0e3953866c8ce07df11d45f0fb80f0d37fbcbdc4b930bd76345d0ca44b);

  background-size: cover;

}

.lay > section:nth-child(3) > div:nth-child(3) {
  
  background: url(https://w.namu.la/s/811bd825e97279b3c0e9e6d7e319b0b0eab6a6f780bc726e78f3cfbf49284b8fa16aea85aec71beb2df7176ecab91c1985edfb098e5cd0140fcfdd23a43e8e078fdec9ce53005ef69835c4e6051c68b89c2d9d2e2f8514649bab346a4f08b08e);
  
  background-size: cover;
  
  }
      
  .lay > section:nth-child(3) > div:nth-child(4) {
  
  background: url(https://ww.namu.la/s/99a3c705c10889de79125b98e0a594a2f93e15eb8b262faae8f4977917c9775454eabd1cca2be246ff7acdf81397b10b7cc1c4952d7def67884ae3998b6b800506f111d1d5d33e9d5c2923fd0f059d7d);
  
  background-size: cover;
  
  }
      
  .lay > section:nth-child(3) > div:nth-child(5) {
  
  background: url(https://w.namu.la/s/24fe7da30a80a48fae4ec1f3c9f28f7c689c91d2909045a7e08e92fdbebf7a5189b2044e2bcdceec090c15eef72e0e0ff0fe9a61891749a341f08204c9bf26416318365b50a7f4dae128db3f282b2723);
  
  background-size: cover;
  
  }
  
  .lay > section:nth-child(3) > div:nth-child(6) {
  
  background: url(https://w.namu.la/s/e0798b20d5105f8d45ce3564eb68e6320295704d8f2cbe1ee44d1d4a892b768546ffbf08a85b1b74f29ada7bd3f5f143746bd19d2306c62a14071fe3ae9ab35dbd773bba980fa75051b88088fba7da5c17a2ba170c6481371d4bb4a6478f10a9);
  
  background-size: cover;
  
  }
  
  .lay > section:nth-child(3) > div:nth-child(7) {
  
  background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR91j8_P6PJvB175XmT7wpLN1g6GZF2sxDCaA&usqp=CAU);
  
  background-size: cover;
  
  }
  
  .lay > section:nth-child(3) > div:nth-child(8) {
  
  background: url(https://dcimg4.dcinside.co.kr/viewimage.php?id=37a8c432eadf39bf61&no=24b0d769e1d32ca73deb82fa11d028316c04369a2e349766dc7643c75491218ec63eca914a86f224260960629873d61066d3f8b03b67921debc5269ec890db913f437da107);
  
  background-size: cover;
  
  }