:root {
        
  --color-1:#B5DDFF;
  --color-2:#fff;
  --color-3:#4A6D8B;
  --color-4:
  --color-5:
  --color-6:
  --color-7:
  --color-8:
  }

*{margin: 0; padding: 0;}

#back {

width: 100vw;
height: 100vh;

background-color:var(--color-1);

display: flex;
justify-content: center;
align-items: center;

}

/* 전체 박스 */
#back > div:nth-child(1) {

width: 100vw;
height: 100vh;

display: flex;
justify-content: center;
align-items: center;

}

/* 로그인 감싸는 박스 */
#back > div > div:nth-child(1) {

width: 50vw;
height: 50vw;
background-color:var(--color-2);

border-top-left-radius: 30px;
border-top-right-radius: 30px;
border-bottom-left-radius: 30px;
border-bottom-right-radius: 30px;

display: flex;
justify-content: center;
align-items: center;

flex-direction: column;



}

/* 위쪽 로그인 */
#back > div > div > div:nth-child(1) {

width: 20vw;
height: 10vh;
background-color:var(--color-1);
color: white;

border-top-left-radius: 30px;
border-top-right-radius: 30px;
border-bottom-left-radius: 30px;
border-bottom-right-radius: 30px;

display: flex;
justify-content: center;
align-items: center;
text-align: center;

margin-bottom: 100px;

}

/* 밑쪽 로그인 */
#back > div > div > div:nth-child(2) {

width: 30vw;
height: 60vh;
background-color:var(--color-1);

display: flex;
justify-content: center;
align-items: center;

flex-direction: column;

border-top-left-radius: 30px;
border-top-right-radius: 30px;
border-bottom-left-radius: 30px;
border-bottom-right-radius: 30px;

}

#back > div > div > div:nth-child(2) > div:nth-child(1) {

width: 20vw;
height: 7vw;
background-color:var(--color-2);

margin: 30px;

border-top-left-radius: 30px;
border-top-right-radius: 30px;
border-bottom-left-radius: 30px;
border-bottom-right-radius: 30px;
}

#back > div > div > div:nth-child(2) > div:nth-child(2) {

width: 20vw;
height: 7vw;
background-color:var(--color-2);

margin: 30px;

border-top-left-radius: 30px;
border-top-right-radius: 30px;
border-bottom-left-radius: 30px;
border-bottom-right-radius: 30px;
}

#back > div > div > div:nth-child(2) > div:nth-child(1) > sub {
margin: 1.5vw;
color: rgb(75, 70, 70);

font-size: large;
font-weight: bold;

}

#back > div > div > div:nth-child(2) > div:nth-child(2) 
> sub {

margin: 1.5vw;
color: rgb(65, 62, 62);
font-size: large;
font-weight: bold;

}

#back > div > div > div:nth-child(2) > div:nth-child(3)
{

text-align: center;
display: flex;
justify-content: center;
align-items: center;

border-top-left-radius: 30px;
border-top-right-radius: 30px;
border-bottom-left-radius: 30px;
border-bottom-right-radius: 30px;

}

#back > div > div > div:nth-child(2) > div {

display: flex;
justify-content: center;
align-items: center;

}

input {

width: 15vw;
font-size: 25px;
border-radius: 15px;
border: 0;
border: solid rgb(235, 228, 228);
padding-left: 20px;
outline: rgb(255, 254, 254); 

margin: 10px;
}

button {

width: 10vw;
height: 7vh;
font-size: 25px;

border: 0;
border-radius: 15px;
color: rgb(110, 106, 106);
cursor: pointer;

box-shadow: 0 5px rgb(117, 114, 114);

}

button:hover {

background-color: rgb(255, 255, 255);
}

button:active {

transition: 0.2s;
box-shadow: 0 5px rgb(2, 1, 1);
transform: translateY(2px);
}