@media (max-width: 600px) {
  body {
    background-color: #fff;
  }
}

*{margin: 0; padding: 0;}

#back {

  width: 100vw;
  height: 100vh;
  background-color: #ccc;
  background: url(https://github.com/SEIMIN123/contents-OTT/blob/main/img/%EC%B4%88%EA%B8%B0%ED%99%94%EB%A9%B4%20%EB%B0%B0%EA%B2%BD-ver1.jpg?raw=true);
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#back > div:nth-child(1) {

  width: 50vw;
  height: 20vw;

  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;

}

#back > div > div:nth-child(1) {

  width: 100vw;
  height: 100vh;
  color: white;

  margin-bottom: 100px;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

}

#back > div > div:nth-child(2) {

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;

}

button {

  width: 14vw;
  height: 7vh;
  font-size: 25px;

  border: 0;
  border-radius: 15px;
  color: rgb(110, 106, 106);
  cursor: pointer;

  box-shadow: 0 5px rgb(117, 114, 114);

}

button:hover {

  background-color: rgb(255, 255, 255);
}

button:active {

  transition: 0.2s;
  box-shadow: 0 5px rgb(29, 22, 22);
  transform: translateY(2px);
}