*{margin: 0; padding: 0;}
  
#back {

  width: 100vw;
  height: 100vh;
  background-color: rgb(49, 49, 49);
  
  display: flex;
  justify-content: center;
  align-items: center;

}

#back > div > div:nth-child(1) {

  width: 100vw;
  height: 100vh;
  
  display: flex;
  justify-content: center;
  align-items: center;

}

#back > div > div> div:nth-child(1) {

  width: 300px;
  height: 300px;

  cursor: pointer;
  background-color: #fff;
  background: url(https://mblogthumb-phinf.pstatic.net/MjAxODAzMDRfNzUg/MDAxNTIwMTY2NzQ4NDUw.-ji-1-EnCNmV0QPgHS4QwPcMy020ZMfOQhGFYxPU_6Eg.YFymidnxROljYZeeZT8V-d_-80aQbs3GFGELVugNUXwg.PNG.vhghkwlqkdtk/0_%ED%86%A0%EB%81%BC_%EC%BA%90%EB%A6%AD%ED%84%B0_%EC%97%B0%EA%B5%AC_%EA%B0%9C%EA%B7%B8%EB%A7%8C%ED%99%94_%EB%B3%B4%EA%B8%B0_%EC%A2%8B%EC%9D%80_%EB%82%A0_%EC%9A%B0%EC%82%AC%EB%AF%B8.png?type=w2);

  background-size: cover;
  background-position: -50px;

  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;

}

#back > div > div> div:nth-child(1):hover { 

  cursor: pointer;
  transition: 0.5s;
  transform: translate(3px, 3px);
  }

#back > div > div > div:nth-child(2) {
  width: 20vw;
  height: 20vh;
  margin-bottom: 500px;

  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#back > div > div > div:nth-child(2) > h1 {

  color: #fff;
  white-space:nowrap;
}

#back > div > div> div:nth-child(3) {

  width: 300px;
  height: 300px;

  cursor: pointer;
  background: url(https://ww.namu.la/s/8b552a19e09ca952b6563621ea296bf68f2f10a9a7ae081202ff0daecff3233b264fce4287c1322b7627be439298eb6393d4382ac283fef677fff93358f6c6f0afae32e2e915555193b18b199afad82c);
  background-size: cover;

  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  
}

#back > div > div> div:nth-child(3):hover { 

  cursor: pointer;
  transition: 0.5s;
  transform: translate(3px, 3px);
  }