:root {

  --color-1: #B5DDFF;
  --color-2: #fff;
  --color-3: #4A6D8B;
  --color-4:
    --color-5: --color-6: --color-7: --color-8:
}



* {
  margin: 0;
  padding: 0;
}

#back {

  width: 100vw;
  height: 100vh;
  background-color: var(--color-1);

  display: flex;
  justify-content: center;
  align-items: center;

}

#back>div {

  width: 50vw;
  height: 100vh;
}

#back>div>div:nth-child(1) {

  width: 50vw;
  height: 100vh;
  background-color: var(--color-2);

  display: flex;
  justify-content: flex-start;
  align-items: center;

  flex-direction: column;

  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;

}

#back>div>div>div {

  width: 40vw;
  height: 10vw;
  background-color: #B5DDFF;
  margin-top: 50px;

  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;

}

#back>div>div>div>h2 {

  width: 40vw;
  height: 20vh;
  color: #fff;

}

#back>div>div>div>h2>div {

  width: 37vw;
  height: 4vh;
  background-color: rgb(255, 255, 255);

  display: flex;
  justify-content: center;
  align-items: center;

  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;

  margin-top: 25px;

}


#back>div>div>div:nth-child(1)>h2 {

  margin: 30px;

}

#back>div>div>div:nth-child(2)>h2 {

  margin: 30px;

}

#back>div>div>div:nth-child(3)>h2 {

  margin-left: 10px;
  margin-top: 20px;
}

#back>div>div>div:nth-child(4) {

  width: 20vw;
  height: 10vh;

  display: flex;
  justify-content: flex-start;
  align-items: center;

}

#back>div>div>div:nth-child(4)>h2 {

  margin-left: 20px;

}

/* ---------------------------------------- */

div>.box {

  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;

}

.box {

  width: 40vw;
  height: 150px;
  background-color: var(--color-1);
  margin-top: 50px;
  color: #fff;

  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;

}

.box1>h2:hover {

  color: red;
  cursor: pointer;
  transition: 0.4s;

}

.box2 {

  margin-top: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;

}

input {

  width: 35vw;
  font-size: 20px;
  border-radius: 15px;
  border: 0;
  padding-left: 20px;
  outline: rgb(255, 255, 255);
  margin: 10px;
}


.box2>button {

  width: 10vw;
  height: 7vh;
  font-size: 25px;

  border: 0;
  border-radius: 15px;
  color: rgb(145, 142, 142);
  cursor: pointer;

  box-shadow: 0 5px rgb(148, 142, 142);

}

button:hover {

  background-color: rgb(226, 221, 221);
}

button:active {

  color: rgb(124, 118, 118);
  transition: 0.2s;
  box-shadow: 0 5px rgb(99, 96, 96);
  transform: translateY(2px);
}

.button1 {

  width: 10vw;
  height: 4vh;
  font-size: 20px;

  border: 0;
  border-radius: 15px;
  color: rgb(145, 142, 142);
  cursor: pointer;
  box-shadow: 0 5px rgb(148, 142, 142);

  margin-left: 13.5vw;
  margin-top: 10px;

}

.button2 {

  width: 10vw;
  height: 4vh;
  font-size: 20px;

  border: 0;
  border-radius: 15px;
  color: rgb(145, 142, 142);
  cursor: pointer;

  box-shadow: 0 5px rgb(148, 142, 142);

  margin-left: 13.5vw;
  margin-top: 10px;

}

button:hover {

  background-color: rgb(226, 221, 221);
}

button:active {

  color: rgb(124, 118, 118);
  transition: 0.2s;
  box-shadow: 0 5px rgb(99, 96, 96);
  transform: translateY(2px);
}